<body [ngClass]="{'login-has-error': form.get('email')?.invalid && form.get('email')?.touched,
                 'password-has-error': form.get('password')?.invalid && form.get('password')?.touched}"
>
<div class="wrapper">
  <h3 class="Log-in">Log in</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input class="input" type="text" formControlName="email" placeholder="Email" />
    <div class="has-error">
        <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          <span *ngIf="form.get('email')?.errors?.['required']"> Email не может быть пустым. </span>
          <span *ngIf="form.get('email')?.errors?.['email']"> Введите корректный email. </span>
        </span>
    </div>
    <input class="input" type="password" formControlName="password" placeholder="Password" />
    <div class="has-error">
        <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          <span *ngIf="form.get('password')?.errors?.['required']"> Пароль не может быть пустым. </span>
          <span *ngIf="form.get('password')?.errors?.['minlength']">
            Пароль должен содержать минимум {{ form.get('password')?.errors?.['minlength']?.requiredLength }} символов.
            Сейчас {{ form.get('password')?.errors?.['minlength']?.actualLength }} символов.
          </span>
        </span>
    </div>
    <input class="input-submit" type="submit" value="Sign in" [disabled]="!form.valid">
    <button type="button" class="button" (click)="JumpToSignUp()">Registration</button>
  </form>
    <div
    class="alert alert-{{message.type}}"
    *ngIf="message.text">
      {{message.text}}
    </div>
</div>
</body>

